@font-face {
    font-family: "segoeui_light";
    src: url("../fonts/segoeuil-webfont.eot");
    src: url("../fonts/segoeuil-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/segoeuil-webfont.woff") format("woff"), url("../fonts/segoeuil-webfont.ttf") format("truetype"), url("../fonts/segoeuil-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "segoeui_light";
}

#footer {
    text-align: center;
}

#info {
    width: 100%;
    height: 50px;
    background-color: rgba(30, 30, 30, 0.9);
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#info .score {
    display: inline-block;
    float: left;
    width: 20%;
}

#info .score .current {}

#info .score .highscore {
    font-size: 15px;
    color: rgba(220, 120, 0, 1);
}

#info .title {
    display: inline-block;
    width: 75%;
    margin-left: -20%;
}

.highscoreClass {
    display: none;
}

.userInput {
    visibility: hidden;
    position:absolute;
    left: 550px;
    top:69px;
}

.userInputButton {
    visibility: hidden;
    position:absolute;
    left:685px;
    top:69px;
}

#board {
    width: 700px;
    height: 700px;
    margin: 50px auto;
}

#board .box {
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: rgb(249, 156, 188);
    transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -webkit-transition: opacity .75s ease-in-out;
}

#board .box.reveal {
    opacity: 0;
}

#board .box:hover {
    cursor: pointer;
}
