@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot");
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*
 * Color-Scheme:
 * rgb(187,151,89)
 * rgb(89,174,187)
 * rgb(187,89,125)
*/

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: rgba(90, 90, 90, 1);
    font-family: "Roboto Light";
    color: rgba(240, 240, 240, 1);
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background: rgba(89, 174, 187, 1);
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: rgba(240, 240, 240, 1);
}

footer {
    text-align: center;
}

content {
    flex: 1;
    min-height: 100%;
    margin-top: 75px;
}

.out {
    display: block;
    width: 990px;
    height: 310px;
    margin: 0 auto;
}

.out .output {
    position: relative;
    width: 480px;
    height: 300px;
    margin: 5px;
    float: left;
    background-color: rgba(30, 30, 30, 0.6);
}

.video-box {
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    color: rgba(250, 250, 250, 1);
}

.video-box .video {
    float: left;
    display: block;
    width: 480px;
    height: 300px;
    margin: 0 auto;
}

.video-box .button.create-frame {
    display: inline-block;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 0.8em;
    background-color: rgba(187, 89, 125, 1);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(187, 89, 125, 1);
    border-radius: 0px 0px 0px 10px;
    color: rgba(240, 240, 240, 1);
    z-index: 999;
}

.video-box .button.create-frame:hover {
    cursor: pointer;
}

.video-box.dragover {
    border-color: rgba(89, 174, 187, 1);
    background-color: rgba(30, 30, 30, 0.3);
}

.video-box.playing {
    border-color: rgba(187, 89, 125, 1);
    background-color: rgba(30, 30, 30, 0.9);
    opacity: 0.7;
}

.video-box.playing:hover {
    opacity: 1;
}

.video-box .video-prompt {
    position: absolute;
    width: 480px;
    height: 100px;
    margin-top: 150px;
    text-align: center;
    color: rgba(187, 151, 89, 1);
}

.gif-box {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(187, 89, 125, 1);
    background-color: rgba(30, 30, 30, 0.9);
    opacity: 0.7;
    color: rgba(250, 250, 250, 1);
}

.gif-box .gif {
    width: 480px;
    height: 300px;
}

.frames-box {
    margin-top: 50px;
    width: 100%;
    height: 164px;
    background: rgba(89, 174, 187, 1);
}

.frames-box .frames {
    width: 100%;
    height: 184px;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: scroll;
    white-space: nowrap;
}

.frames-box .frames::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.frames-box .frames::-webkit-scrollbar-thumb {
    background-color: rgba(187, 89, 125, 1);
    border-radius: 0;
}

.frames-box .frames::-webkit-scrollbar-thumb:hover {
    background-color: rgba(30, 30, 30, 1);
}

.frames-box .frames::-webkit-scrollbar-track {
    background-color: rgba(89, 174, 187, 1);
}

.frames-box .frames li {
    position: relative;
    display: inline-block;
    margin: 5px;
    width: 240px;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(30, 30, 30, 1);
    white-space: normal;
}

.frames-box .frames li.highlight {
    border-color: rgba(187, 89, 125, 1);
    opacity: 0.5;
}

.frames-box .frames li img {
    width: 240px;
    height: 150px;
}

.frames-box .frames li .button.delete-frame {
    display: inline-block;
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0.6em;
    background-color: rgba(30, 30, 30, 1);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(30, 30, 30, 1);
    border-radius: 7px 0px 0px 0px;
    color: rgba(240, 240, 240, 1);
    z-index: 999;
}

.frames-box .frames li .button.delete-frame:hover {
    cursor: pointer;
}

.button.create-gif {
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 170px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.6em;
    background-color: rgba(187, 89, 125, 1);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(187, 89, 125, 1);
    border-radius: 7px;
    color: rgba(240, 240, 240, 1);
}

.button.create-gif:not(.disabled):hover {
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
}

.hidden {
    display: none;
    opacity: 0;
}
