@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot");
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: rgba(250, 250, 250, 1);
    font-family: "Roboto Light";
    color: rgba(30, 30, 30, 1);
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background: rgba(30, 30, 30, 1);
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: rgba(240, 240, 240, 1);
}

footer {
    text-align: center;
}

content {
    flex: 1;
    min-height: 100%;
    margin-top: 50px;
    padding: 25px;
}

#painter {
    width: 900px;
    margin: 0 auto;
}

#canvas {
    display: block;
    float: right;
    width: 750px;
    height: 550px;
    margin-left: 50px;
    margin-top: -460px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(30, 30, 30, 1);
}

#canvas:hover {
    cursor: crosshair;
}

#toolbox {
    width: 100px;
    min-height: 300px;
}

#toolbox .item {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    line-height: 40px;
    text-align: center;
}

#toolbox .item:hover {
    cursor: pointer;
}

#toolbox .tool {
    opacity: 0.5;
    color: rgba(30, 30, 30, 1);
}

#toolbox .tool.selected {
    opacity: 1;
}

toolbox .action {
    color: rgba(20, 220, 120, 1);
}

#toolbox .large {
    font-size: 2em;
}

#toolbox .small {
    font-size: 1em;
}

#colors {
    width: 100px;
    min-height: 150px;
    margin-top: 30px;
}

#colors .color {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(30, 30, 30, 0.5);
    background-color: rgba(30, 30, 30, 1);
    opacity: 0.5;
}

#colors .color:hover {
    cursor: pointer;
}

#colors .color.selected {
    opacity: 1;
    border-color: rgba(220, 0, 120, 1);
}

#colors .black {
    background-color: rgba(0, 0, 0, 1);
}

#colors .white {
    background-color: rgba(255, 255, 255, 1);
}

#colors .red {
    background-color: rgba(255, 0, 0, 1);
}

#colors .green {
    background-color: rgba(0, 255, 0, 1);
}

#colors .blue {
    background-color: rgba(0, 0, 255, 1);
}

#colors .yellow {
    background-color: rgba(255, 255, 0, 1);
}
