@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot");
    src: url("../fonts/Roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: rgba(255, 255, 255, 1);
    font-family: "Roboto Light";
    color: rgba(30, 30, 30, 1);
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    background: rgba(30, 30, 30, 1);
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: rgba(240, 240, 240, 1);
}

header .button {
    position: absolute;
    right: 2em;
}

header .button:hover {
    cursor: pointer;
}

footer {
    text-align: center;
}

content {
    flex: 1;
    min-height: 100%;
    margin-top: 50px;
    padding: 25px;
}

#week {
    width: 90%;
    margin: 0 auto;
}

#week ul {
    display: block;
    float: left;
    position: relative;
    margin: 0.5%;
    padding: 0px;
    width: 19%;
    list-style-type: none;
    padding-left: 0;
}

#week ul .title {
    display: inline-block;
    width: 100%;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    font-size: 1.5em;
    text-align: center;
}

#week ul li {
    position: relative;
    padding: 0em 1em 0em 1em;
    margin: 0.5em 0em 0.5em 0em;
    height: 4em;
    color: rgba(30, 30, 30, 1);
}

#week ul li .fa {
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 1.2em;
    color: rgba(30, 30, 30, 1);
}

#week ul li .fa:hover {
    cursor: pointer;
}

#week ul li .name {
    display: inline-block;
    width: 100%;
    height: 4em;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 4em;
    text-align: center;
}

#week ul .suppe {
    background-color: rgba(250, 218, 114, 1);
}

#week ul .hauptgericht {
    background-color: rgba(250, 173, 114, 1);
}

#week ul .beilage {
    background-color: rgba(250, 218, 114, 1);
}

#week ul .dessert {
    background-color: rgba(236, 259, 114, 1);
}
